@charset "utf-8";

/*네비게이션*/
body{
	/*border: 1px solid red;*/
	width: 100%;
	height: 100%;
}

/*헤더*/
.main_bg{
	background: url(../m_images/main/main_bg.jpg) center center no-repeat;
	background-size: 100% 100%;
	/*min-height: 500px;*/
	position: relative;	
}
.header{
	position: relative;
	border-bottom: 1px solid #7b8386;
	padding: 13px 0;
	box-sizing: border-box;
	z-index: 9999;
}
.layer{
	background: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9000;
	display: none;

}
.header.color{
	background-color: #fff;
}
.header .nav_icon_wrap{
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 20px;
}
.header .nav{
	position: absolute;
	top: 49px;
	left: 0px;
	width: 100%;
	height: 600px;
	background: #fff;
	z-index: 9999;
	overflow: hidden;
}
.header .nav > ul{
	height: 100%;
	width: 43%;
	float: left;
	box-shadow: 0px 0px 8px #727e84;
}
.header .nav > ul > li{
	border-bottom: 1px solid #cecece;
	width: 100%;
	box-sizing: border-box;
	/*position: relative;*/
}
.header .nav > ul > li.aru_sub{
	padding: 15px 0px 15px 15px;
}
.header .nav > ul > li.on{
	background-color: #d2232a;
	color: #fff;
}
/*.header .nav > ul > li.on a{
	background-color: #d2232a;
	color: #fff;	
}*/
.header .nav > ul > li.on .sub_menu{
	display: block;
}
.header .nav > ul > li h2{
	font-size: 14px;
	font-weight: bold;
	background: url(../m_images/main/right_arrow.png) 90% center no-repeat;
	background-size: 13px 13px;
}
.header .nav > ul > li > a{
	display: block;
	padding: 15px 0px 15px 15px;
}
.header .nav > ul > li.on h2{
	background: url(../m_images/main/right_arrow_on.png) 90% center no-repeat;
	background-size: 13px 13px;	
	color: #fff;
}
.header .nav > ul > li span{
	display: block;
	padding: 5px 0;
	margin-left: -1px;

}
.header .nav .sub_menu{
	display: none;
	position: absolute;
	top: 0px;
	left: 43%;
	/*width: 400px;*/
	width: 100%;
	/*overflow:auto;
	height: 300px;
	border: 1px solid red;*/

}
.header .nav .sub_menu h3{
	font-size: 13px;
	font-weight: bold;
	color: #e01000;
	border-bottom: 1px solid #cecece;
	padding: 14px 0px 14px 12px;
}
.header .nav .sub_menu h3 a{
	color: #e01000;
	display: block;
}
.header .nav .sub_menu h3.arusub{
	background: url(../m_images/main/arusub.png) 53% center no-repeat;
	background-size: 15px 15px;
}
.header .nav .sub_menu ul{
	margin-left: 20px;
}
.header .nav .sub_menu > ul > li{
	padding:15px 0 15px 18px;
	border-bottom: 1px solid #cecece;
}
.header .nav .sub_menu > ul > li a{
	color: #616161;
	display: block;
}
.header .nav .sub_menu ul li:last-child{
	border:none;
}



/*햄버거*/
#nav_icon{
  width: 25px;
  height: 15px;
  /*border: 1px solid red;*/
  position: relative;
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav_icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #404041;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */
#nav_icon span:nth-child(1) {
  top: 0px;
}

#nav_icon span:nth-child(2),#nav_icon span:nth-child(3) {
  top: 7px;
}

#nav_icon span:nth-child(4) {
  top: 14px;
}

#nav_icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav_icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav_icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav_icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*햄버거끝*/

/*헤더끝*/

/*푸터*/
#footer{
	background: #383838;
}
#footer span, #footer a{
	display: inline-block;
	color: #999999;
	font-size: 12px;
}
.bar2{
	width:1px;
	height: 11px;
	background-color: #999999;
	margin: 0px 5px;
	vertical-align: middle;
}

/*푸터 끝*/



/*메인*/
#wrap_main{
	position: relative;
}
#wrap_main .slider_wrap{
	padding: 100px 0px;
	overflow: hidden;
}
#wrap_main .slider_wrap li{
	padding: 0px 20px;
}
/*서브페이지*/
#wrap_main2 .sub_content{
	padding:0px 20px;
}
#wrap_main2 .tab{
	padding: 20px 20px 0px 20px;
}
#wrap_main2 .on{
	background:#ca252b;
}
#wrap_main2 .bread_crumbs{
	/*border: 1px solid blue;*/
	position: relative;
	z-index: 999;
}

#wrap_main2 .bread_crumbs ul{
	display: none;
	position: absolute;
	top: 38px;
	left: 0px;
	width: 100%;
	background: #f4f4f4;
	padding: 0px 20px;
	/*min-height: 200px;*/
}
#wrap_main2 .bread_crumbs ul li{
	padding: 10px 0;
}
#wrap_main2 .bread_crumbs ul li a{
	display: block;

}
#wrap_main2 .bread_crumbs h2{
	font-size: 12px;
	font-weight: bold;
	background: url(../m_images/page/li_down.png) right 20px center no-repeat;
	background-size: 13px 13px;
	background-color: #565656;
	color: #fff;
	padding: 12px 0px 12px 20px;
}
#wrap_main2 .sub_content .img_1 img{
	width: 100%;
}
#wrap_main2 .sub_content section:last-child p{
	border: 1px solid #e2e2e2;
	/*text-align: center;*/
	/*width: 100%;*/
	height: 170px;
	line-height: 170px;
	box-sizing: border-box;
}
#wrap_main2 .sub_content h3,
#wrap_main2 .select_wrap h3,
#wrap_main2 .email_wrap h3,
#wrap_main2 .complete_wrap h3{
	font-size: 14px;
	font-weight: bold;
	background: url(../images/page/full_arrow.png) left center no-repeat;
	background-size: 15px 15px;
	color: #333333;
	padding-left: 25px;
	margin-bottom: 10px;
}
#wrap_main2 .sub_content .description p {
	line-height: 22px;
	padding-bottom: 15px;
	color: #333333;
}
#wrap_main2 .sub_content .description img{
	margin-bottom: 10px;
}
#wrap_main2 .sub_content .img_description{
	background-color: #ededed;
	padding: 15px 10px;
	text-align: center;
}
#wrap_main2 .sub_content section{
	margin-top: 40px;
}
#wrap_main2 .sub_content section:first-child{
	margin-top: 20px;
}
#wrap_main2 .sub_content section:last-child{
	margin-bottom: 40px;
}
#wrap_main2 .sub_content section:last-child div{
	text-align: center
}
#wrap_main2 .sub_content section:last-child span{
	display: inline-block;
	padding: 15px 0 20px;
	color: #333333;
	font-size: 12px;
}

#wrap_main2 table{
	table-layout: fixed;
}
#wrap_main2 table .on a{
	color: #fff;
}
#wrap_main2 table a{
	color: #3e3e3e;
	display: block;
}
#wrap_main2 table td{
	/*width: 95px;*/
	height: 40px;
	border:1px solid #dcdcdc;
	text-align: center;
}
/*서브페이지끝*/
/*견적요청*/

/*step1시작*/

/*#wrap_main2 .quota .quota_step h3{
	background: url(../m_images/quota/step1.png) center center no-repeat;
	background-size: 100% 100%;
	height: 50px;
}*/
/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
#wrap_main2 .quota .quota_step h3{
		background: url(../m_images/quota/step1.png) center center no-repeat;
		background-size: 320px 50px;
		height: 50px;
}
}*/

/* 아이폰 6 세로 */
/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
#wrap_main2 .quota .quota_step h3{
		background: url(../m_images/quota/step1.png) center center no-repeat;
		background-size: 320px;
		height: 50px;
}
}*/

#wrap_main2 .select_wrap,
#wrap_main2 .email_wrap,
#wrap_main2 .complete_wrap{
	padding: 0 20px;
}
#wrap_main2 .select_box{
	border-top: 3px solid #848383;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
	/*height: 400px;*/
}
#wrap_main2 .select_box .select_first > p,
#wrap_main2 .select_box .select_second > p,
#wrap_main2 .email_box p{
	padding: 10px 0;
	background: #ededed;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #dcdcdc;
}
#wrap_main2 .email_box p{
	border-top: 3px solid #848383;
	font-weight: bold;
}
#wrap_main2 .select_box .select_first input{
	position: absolute;
	visibility: hidden;	
}
#wrap_main2 .select_box .select_first label{
	width: 100px;
	background: url(../m_images/quota/circle_1.png) center 20px no-repeat;
	background-size: 18px 18px;
	display: inline-block;
	padding-top: 50px;
}
#wrap_main2 .select_box .select_first label p{
	padding-top: 20px;
}
#wrap_main2 .select_box .select_first label.select{
	background: url(../m_images/quota/circle_on.png) center 20px no-repeat;
	background-size: 18px 18px;
}
#wrap_main2 .select_box .select_first > ul > li{
	width: 33%;
	text-align:center;
	float: left;
	height: 150px;
}
#wrap_main2 .select_box .select_first > ul > li:nth-child(2){
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
}
#wrap_main2 .select_box .select_second select{
	width: 100%;
	height: 44px;
	padding: 10px 0;
	background: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 0;
	padding-left: 15px;
	color: #919191;
	background: url(../m_images/quota/under_arrow.png) right 19px center no-repeat;
	background-size: 12px 7px;
	/*z-index: 100;*/
}
#wrap_main2 .select_box .select_second span{
	display: inline-block;
	width: 150px;
}
#wrap_main2 .select_box .select_second span.under_arrow{
	width: 1px;
	height: 100%;
	border-left: 1px solid #dcdcdc;
	
	position: absolute;
	top: 0px;
	right: 50px;
	/*box-sizing: border-box;*/
	/*z-index: 1;*/
}

#wrap_main2 .select_box .select_second > ul > li{
	margin-top: 10px;
	position: relative;
}
#wrap_main2 .select_box .select_second .except{
	display: none;
}
#wrap_main2 .select_wrap .select_box_wrap{
	position: relative;
}
#wrap_main2 .select_wrap h3,
#wrap_main2 .email_wrap h3
{
	margin-top: 20px;
	margin-bottom: 15px;
}
#wrap_main2 .select_wrap .add_button p{
	padding:20px 0px 20px 10px;
	background: url(../images/quota/right_arrow.png)0px center no-repeat;
	background-size: 5px 7px;
	font-weight: bold;
}
#wrap_main2 .select_wrap .add_button a{
	display: block;
	padding: 20px 0;
	height: 20px;
	background:#ededed url(../images/quota/add.png) center center no-repeat;
	background-size:19px 19px;
}
#wrap_main2 .select_wrap .select_box_wrap .delete {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -12px;
    right: 0px;
    border-radius: 5px;
    width: 75px;
    padding: 10px 0;
    background-color: #ededed;
    border: 1px solid #dcdcdc;
}
.hi textarea{
	width: 100%;
	border: 1px solid #ededed;
	height: 200px;
}
/*step1끝*/
/*step버튼*/
#wrap_main2 .next{
	padding: 50px 20px;
	text-align: right;
}
.next button{
	width: 130px;
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    text-align: left;
    background-color: #d2232a;
    border-radius: 5px;
    padding: 15px 0;
    padding-left: 30px;
    background: #d2232a url(../images/quota/right_arrow2.png) right 20px center no-repeat;
    background-size: 20px 19px;
}
#wrap_main2 .email_button{
	padding: 30px;
}
#wrap_main2 .email_wrap .next{
	position: relative;
	bottom: 0;
	right: 0;
	float: right;
	padding: 0;
}
#wrap_main3 .prev{
	position: relative;
	float: left;
}
.prev a{
	display: block;
	width: 130px;
	color: #fff !important;
	font-size: 14px;
	/*text-align: center;*/
	border-radius: 5px;
	padding: 15px 0;
	background: #6a6a6a url(../images/quota/left_arrow2.png) left 20px center no-repeat;
	background-size: 20px 19px;
	padding-left: 60px;
	box-sizing: border-box;
}
.back_home a{
	display: inline-block;
	width: 130px;
	color: #fff !important;
	font-size: 14px;
	/*text-align: center;*/
	border-radius: 5px;
	padding: 15px 0;
	background: #d2232a url(../images/quota/home.png) right 20px center no-repeat;
	background-size: 20px 19px;
	padding-left: 25px;
	box-sizing: border-box;	
}
#wrap_main2 .complete_wrap .back_home{
	margin:20px 0;
}
#wrap_main2 .complete_wrap .back_home a{
	float: right;
}
/*step버튼끝*/
/*step2시작*/
#wrap_main2 .email_info{
	padding-top: 20px;
}
#wrap_main2 .email_info span{
	display: inline-block;
	width: 65px;
	margin-right:1%;
	background: url(../m_images/quota/red_circle.png) 0px center no-repeat;
	background-size: 4px 4px;
	padding-left: 15px;
	box-sizing: border-box;
}
#wrap_main2 .email_info input{
	border: none;
	background-color: #ededed;
	height: 40px;
	border-radius: 5px;
	width: 78%;
	text-indent: 10px;
}
#wrap_main2 .email_info label{
	display: block;
	padding: 10px 0px 0px 72px;
	color: #d2232a;	
	box-sizing: border-box;
}

#wrap_main2 .email_info textarea{
	width: 78%;
	border: none;
	border-radius: 3px;
	background-color: #ededed;
	padding-left: 10px;
	box-sizing: border-box;
	padding-top: 10px;
}
#wrap_main2 .email_info > ul > li{
	margin-bottom: 10px;
}

#wrap_main2 .email_wrap .email_right input {
	font-size: 13px;
	padding: 20px 0;
	width: 100%;
	border: none;
}
#wrap_main2 .email_wrap .email_right > div > div:last-child input{
	border-bottom: none;
}
#wrap_main2 .email_wrap .email_right input[name="main"],
#wrap_main2 .email_wrap .email_right input[name="main2"],
#wrap_main2 .email_wrap .email_right input[name="main3"]
{
	border:none;
	font-weight: bold;
	background-color: #ededed;
	padding-left: 20px;
}
#wrap_main2 .email_wrap .email_right input[name="onedepth"],
#wrap_main2 .email_wrap .email_right input[name="onedepth2"],
#wrap_main2 .email_wrap .email_right input[name="onedepth3"]
{
	border-top:none;
	border-left: none;
	border-right: none;
	border-bottom:1px solid #e5e5e5;
	margin-left: 20px;
	box-sizing: border-box;
}
#wrap_main2 .email_wrap .email_right input[name="twodepth"],
#wrap_main2 .email_wrap .email_right input[name="twodepth2"],
#wrap_main2 .email_wrap .email_right input[name="twodepth3"],
#wrap_main2 .email_wrap .email_right input[name="threedepth"],
#wrap_main2 .email_wrap .email_right input[name="threedepth2"],
#wrap_main2 .email_wrap .email_right input[name="threedepth3"],
#wrap_main2 .email_wrap .email_right input[name="fourdepth"],
#wrap_main2 .email_wrap .email_right input[name="fourdepth2"],
#wrap_main2 .email_wrap .email_right input[name="fourdepth3"],
#wrap_main2 .email_wrap .email_right input[name="fivedepth"],
#wrap_main2 .email_wrap .email_right input[name="fivedepth2"],
#wrap_main2 .email_wrap .email_right input[name="fivedepth3"]{
	border-top:none;
	border-left: none;
	border-right: none;
	border-bottom:1px solid #e5e5e5;
	margin-left: 20px;
}
#wrap_main2 .email_wrap .email_right input[name="fivedepth"],
#wrap_main2 .email_wrap .email_right input[name="fivedepth2"],
#wrap_main2 .email_wrap .email_right input[name="fivedepth3"]{
	text-overflow: ellipsis;
    white-space: nowrap;
    width: 94%;
}

/*step2끝*/



/*step3*/
#wrap_main2 .complete_box{
	border-top: 3px solid #848383;
	border-bottom: 1px solid #848383;
	text-align: center;
	height: 200px;
	line-height: 200px;
}
#wrap_main2 .complete_text{
	margin-top: 20px;
	background: #ededed;
	padding: 20px 5px;
	box-sizing: border-box;
}
#wrap_main2 .complete_text p{
	font-size: 15px;
	line-height: 25px;
}

/*step3끝*/
/*견적요청끝*/

/*회사소개페이지*/


#wrap_main2 .sub_content .hello{
	border: 1px solid #ededed;
	padding: 0px 20px;
	padding-bottom: 15px;
}
#wrap_main2 .sub_content .hello p{
	line-height: 30px !important;
	border: none !important;
	height: inherit !important; 
}
.info{
	border: 1px solid #ededed;
	padding: 15px 0 15px 15px;
	margin-top: 15px;
}
.info span{
	display: inline-block;
}
.info span.info_type{
	width: 30px;
	color: #d85357;
	font-weight: bold;
	vertical-align: top;
}
.info ul li{
	margin-bottom: 15px;
}
/*소개페이지끝*/

/*그외 */
.go_top{
	width: 52px;
	position: fixed;
	bottom: 0;
	right: 20px;
	/*display: none;*/
	z-index: 9999;
	cursor: pointer;
}
.active{
	color: #e51d2e !important;
	font-weight: bold;
}
	









